<ion-header>
  <ion-toolbar>
    <ion-title>BcaaList</ion-title>
  </ion-toolbar>
</ion-header>

  
<ion-content>
    <ion-card>
        <ion-item>
          <div>
            <img src="https://d2vq4s943o8cb4.cloudfront.net/Custom/Content/Products/05/67/0567_whey-gold-100-optimum-nutrition-213_z4_636715950440177970.png">
          </div>
          <h2>Whey Protein Concentrado 1KG (GOLD).</h2>
        </ion-item>
        <ion-card-content>
          <p>A verdadeira força do Whey Protein
              100% Whey Gold Standard é um alimento protéico indicado para quem realiza exercícios, atividades físicas ou dietas com o objetivo de ganhar massa muscular magra.
          </p>
          <hr>
          <p>
              Esta proteína é extraída do soro do leite. Este composto possui um alto valor biológico, sendo absorvido rapidamente pelo organismo, além de ser rico em aminoácidos essenciais como o BCAA, elemento diretamente ligado ao aumento e a construção dos músculos.
          </p>
        </ion-card-content>
        <ion-row>
          <ion-col align-self-center text-center>
            <ion-note>
              <a href="https://www.submarino.com.br/produto/43335775?WT.srch=1&acc=d47a04c6f99456bc289220d5d0ff208d&epar=bp_pl_00_go_pla_sup_geral_gmv&gclid=EAIaIQobChMIkOSaoPzB4gIVEQaRCh34aQi9EAUYAiABEgIFevD_BwE&i=5a5060beeec3dfb1f8ad31bd&o=5babe0e8ebb19ac62cb96dbf&opn=XMLGOOGLE&sellerId=15620790000185"><ion-button color="dark" (click)="showAlert()">Comprar <ion-icon name="card"></ion-icon></ion-button></a>
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
   

      
</ion-content>

