<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Lista De Mensagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card  *ngFor="let mensagem of listaDeMensagem">
        <ion-card-header>
          
          <ion-card-title>{{mensagem?.titulo}}</ion-card-title>
          <ion-card-subtitle>{{mensagem?.texto}}</ion-card-subtitle>
          <ion-card-subtitle>{{mensagem?.data}}</ion-card-subtitle>
        </ion-card-header>
        
        <ion-icon name="share-alt" size="large" (click)="viewMensagem(mensagem)"></ion-icon>
        <ion-icon name="trash" size="large" (click)="remove(mensagem)"></ion-icon>
    </ion-card>

</ion-content>
