<ion-header>
  <ion-toolbar>
    <ion-img style="width: 60px; height: 60px;" src="../assets/1.png"></ion-img>
    <h5 (click)="cadastrarLoja()">Cadastre sua Loja</h5>
    <div text-center [ngClass]="highlight-color:text==1" (click)="setSelectedText('text1')"> 
     Loja <div text-center [ngClass]="highlight-color:text==2" 
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-slides pager="true" style="width: 200px; height: 200px;" [options]="slideOpts">
    <ion-slide>
      <ion-img src="../assets/2.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../assets/3.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../assets/4.png"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-searchbar></ion-searchbar>

  <ion-row>
    <ion-col>
      <ion-card>
        <h1 orange>27</h1>
        <p>A homolar</p>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <h1 orange>27</h1>
        <p>A homolar</p>
      </ion-card>
    </ion-col>
    </ion-row>


</ion-content>
